/* Vinculamos Google Fonts y Material Icons */

.navbar-menu {
  display: flex;
  gap: var(--space-medium);
}

body {
  font-family: 'Poppins', sans-serif ;
  background-color: blue;
}

h1 {
  font-family: 'Poppins' ;
}

/* Header */



.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* Navbar */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-normal);
}


.navbar-menu a {
  font-family: var(--font-primary);
  text-transform: uppercase;
  color: var(--white-color);
}

.navbar-menu a:hover {
  color: var(--orange-color);
}

/* Hero */

.hero {
  height: 100vh;
  min-height: 700px;
  background-color: var(--white-color);

display: flex;
justify-content: center;
align-items: center;
color: var(--dark-color);
}

.hero-content {
 width: 50%;
}

.hero-content p {
  /*font-size: 1.125rem;
  margin-bottom: var(--space-small);
  max-width: 80%;
text-align: center;*/

 width: 100%;
  border-radius: 1rem;
  object-fit: cover;

}

.hero-actions {
  display: flex;
  gap: var(--space-small);
  margin-bottom: var(--space-medium);
  justify-content: center;
}



.hero-icons {
  display: flex;
  gap: var(--space-small);
}

.hero-text {
  font-family: 'Poppins';
}

/* Work */ 

.work {
  background-color: var(--light-color);
}

.work-header {
  margin-bottom: 1rem;
}

.work-content {
  display: flex;
  align-items: center;
}

.work-thumbnails {
  width: 50%;
}

.thumbnail-item {
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
  filter: brightness(0.7);
  transition: filter 0.3s ease;
}

.thumbnail-item:hover {
filter: brightness(1);
}

.thumbnails-list {
  display: grid;
  grid-template-columns: repeat (3, 1fr);
  gap: var(--space-small);
}

.work-showcase {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-medium);
}

.work-info {
  text-align: center;
}

.work-image {
  border-radius: 1rem;
  display: flex;
  gap: var(--space-medium);
}