@font-face {
  font-family: PoppinsBlack;
  src: url(./assets/fonts/Poppins-Black.ttf) format(opentype);
}

@font-face {
  font-family: PoppinsBlackItalic;
  src: url(./assets/fonts/Poppins-BlackItalic.ttf) format(opentype);
}

@font-face {
  font-family: PoppinsBold;
  src: url(./assets/fonts/Poppins-Bold.ttf) format(opentype);
}

@font-face {
  font-family: PoppinsBoldItalic;
  src: url(./assets/fonts/Poppins-BoldItalic.ttf) format(opentype);
}

@font-face {
  font-family: PoppinsExtraBold;
  src: url(./assets/fonts/Poppins-ExtraBold.ttf) format(opentype);
}

@font-face {
  font-family: PoppinsExtraLight;
  src: url(./assets/fonts/Poppins-ExtraLight.ttf) format(opentype);
}

@font-face {
  font-family: PoppinsLightItalic;
  src: url(./assets/fonts/Poppins-ExtraLightItalic.ttf) format(opentype);
}

@font-face {
  font-family: PoppinsItalic;
  src: url(./assets/fonts/Poppins-Italic.ttf) format(opentype);
}

@font-face {
  font-family: PoppinsLight;
  src: url(./assets/fonts/Poppins-Light.ttf) format(opentype);
}

@font-face {
  font-family: PoppinsMedium;
  src: url(./assets/fonts/Poppins-Medium.ttf) format(opentype);
}

/*Estilos Personalizados
Aqui vamos a estilar todas las secciones, sus contenidos y el responsivo.

@font-face {
  font-family: PoppinsRegular;
  src: url(./assets/fonts/Poppins-Regular.ttf) format(opentype);
}
/* 

/* Vinculamos Google Fonts y Material Icons */

.navbar-menu {
  display: flex;
  gap: var(--space-medium);
}

body {
  font-family: 'Poppins' ;
  background-color: blue;
}

h1 {
  font-family: 'Poppins' ;
}

/* Header */



.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

/* Navbar */


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-normal);
}


.navbar-menu a {
  font-family: var(--font-primary);
  text-transform: uppercase;
}

.navbar-menu a:hover {
  color: var(--purple-color);
}

/* Hero */






.hero {


  height: 100vh;


  min-height: 100px;


  background-color: var(--white-color); /* No tengo imagen de fondo, solo es un color */





/*      No hacer caso 


background-image: url(../assets);


background-size: cover;


background-position: center;


*/


display: flex;


justify-content: center;


align-items: center;





color: var(--dark-color);





}





.hero-content {


  /* width: 50%; */


}





.hero-content p {


  font-size: 1.125rem;


  margin-bottom: var(--space-small);


/*   max-width: 80%; */


text-align: center;


}





.hero-actions {


  display: flex;


  gap: var(--space-small);


  margin-bottom: var(--space-medium);


  justify-content: center;


}





/*


.hero-icons {
  display: flex;
  gap: var(--space-small);


}


*/


.hero-text {
  font-family: 'Poppins';
}

